@model Nullable<Boolean>
@{
    ViewBag.Title = "AddRole";
}

<h2>AddRole</h2>

@if (Model== true)
{
    <h2>Add sucessfull</h2>

}
else if (Model == false)
{
    <h2>The email in your system</h2>
}
else
{
    <div>

        @using (Html.BeginForm("AddRole", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
           
            <h4>Create a new account.</h4>
            <hr />
            
            <div class="form-group">
                @Html.Label("RoleName", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBox("roleName",null, new { @class = "form-control" })
                </div>
            </div>
  
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Add Role" />
                </div>
            </div>
        }
    </div>

}

<div>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Add new User", "AddUser", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Add new Role", "AddRole", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Get all Users Info", "GetAllUsersInfo", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Get all Roles", "GetAllRoles", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Add User to Role", "AddUserToRole", "Admin")</span>
</div>

