@model TaskManagementSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "AddUser";
}
<h2>Add new User</h2>

@if (ViewBag.AddStatus == true)
{
    <h2>Add sucessfull</h2>
}
else if (ViewBag.AddStatus == false)
{
    <h2>The email in your system</h2>
}
else
{
<div>

    @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Salary, new { @class = "col-md-2 control-label" })
            @Html.Label("(For 1 Day)")
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Salary, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Password, new { Value = "123456", @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { Value = "123456", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Add User" />
            </div>
        </div>
    }
</div>

}

<div>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Add new User", "AddUser", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Add new Role", "AddRole", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Get all Users Info", "GetAllUsersInfo", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Get all Roles", "GetAllRoles", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Add User to Role", "AddUserToRole", "Admin")</span>
</div>

