
@{
    ViewBag.Title = "AdminHomePage";
}
<h2>AdminHomePage</h2>
<ul>
    <li>@Html.ActionLink("AddUser", "AddUser", "Admin")</li>
    <li>@Html.ActionLink("AddRole", "AddRole", "Admin")</li>
    <li>@Html.ActionLink("GetAllUsersInfo", "GetAllUsersInfo", "Admin")</li>
    <li>@Html.ActionLink("GetAllRoles", "GetAllRoles", "Admin")</li>
    <li>@Html.ActionLink("AddUserToRole", "AddUserToRole", "Admin")</li>
    
</ul>