@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "GetAllRoles";
}

<h2 class="centerText">Get all Roles</h2>

<br />
<br />

<div>
    <ul>
        @foreach (var role in Model)
        {
            <li>
                @role.Name
                @Html.ActionLink("Delete", "RemoveUserFromRole", "Admin")
            </li>
        }
    </ul>
</div>

<br />
<br />

<div>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Add new User", "AddUser", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Add new Role", "AddRole", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Get all Users Info", "GetAllUsersInfo", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Get all Roles", "GetAllRoles", "Admin")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Add User to Role", "AddUserToRole", "Admin")</span>
</div>
