@model List<TaskManagementSystem.Models.Project>

<h2>PROJECT MANAGER DASHBOARD</h2>
<h4>Projects</h4>
<ul>
    <li>@Html.ActionLink("Add Project", "AddProject")</li>
    <li>@Html.ActionLink("Order By Percent", "OrderByPercent")</li>
    <li>@Html.ActionLink("Order By Percent Excluding Complete", "OrderByPercentExcludingComplete")</li>
    <li>@Html.ActionLink("Order By Priority", "OrderByPriority")</li>
</ul>
<h4>Task</h4>
<ul>
    <li>@Html.ActionLink("Overdue Deadline That are Incomplete", "OrderByIncompleByDeadline")</li>
</ul>


@if (Model.Count > 0)
{
    <h4>List Of Projects</h4>
    @ViewBag.NotificationCount
    @Html.ActionLink("NewNotifications", "ManagerNotifications", "ProjectManager", new { UserId = ViewBag.UserId }, null)
    <ol>
        @foreach (var project in Model)
        {
            <li>
                @project.Title
                <span> &nbsp;</span>
                @Html.ActionLink("Update", "UpdateProject", new { projectId = project.Id }, null)
                <span> &nbsp;</span>
                @Html.ActionLink("Delete", "DeleteProject", new { projectId = project.Id }, null)
            </li>
            <ul>
                <li>Description: @project.Description</li>
                <li>Priority: @project.Priority</li>
                <li>Status: @project.Status</li>
                <li>DateCreated: @project.DateCreated</li>
                <li>Deadline: @project.Deadline</li>
                @if (project.DateCompleted == null)
                {
                    <li>Date Completed: Not Yet Completed</li>
                }
                else
                {
                    <li>Date Completed: @project.DateCompleted</li>
                }
                <li>Created By: @project.User.UserName (Project Manager)</li>
                @if (project.DevTasks.Count > 0)
                {
                    <li>List Of Task</li>
                    <ol>
                        @foreach (var devTask in project.DevTasks)
                        {
                            <li>
                                <span>
                                    Task Name: @devTask.Title
                                    <span> &nbsp;</span>
                                    @Html.ActionLink("Update", "UpdateTask", "DevTask", new { devTaskId = devTask.Id, projectId = project.Id }, null)
                                    <span> &nbsp;</span>
                                    @Html.ActionLink("Delete", "DeleteTask", "DevTask", new { devTaskId = devTask.Id }, null)
                                </span>
                                <br />
                                <span>Developer: @devTask.Developer.UserName</span>
                                <br />
                                <span>Deadline: @devTask.Deadline</span>
                                <br />
                                <span>Status: @devTask.Status</span>
                                <br />
                                <span>Percent Completed: @devTask.PercentCompleted%</span>
                            </li>
                        }

                    </ol>
                }
            </ul>

            <p>@Html.ActionLink("Add Task", "AddTask", "DevTask", new { projectId = project.Id }, null)</p>
            <br />
        }
    </ol>
}
