@using TaskManagementSystem.Models
@model List<TaskManagementSystem.Models.Project>

<h2 class="centerText">PROJECT MANAGER DASHBOARD</h2>



@if (Model.Count > 0)
{

    <button class="btn btn-warning btn-default col-md-offset-10">
        @ViewBag.NotificationCount
        @Html.ActionLink("New Notifications", "ManagerNotifications", "ProjectManager", new { UserId = ViewBag.UserId }, null)
    </button>

    <div class="ProjectContainer ProjContainer">
        @foreach (var project in Model)
        {
            <div class="ProjectInfo projInfo">
                <div>
                    @project.Title
                    <span> &nbsp;</span>
                    <span class="btn btn-info btn-xs">@Html.ActionLink("Update", "UpdateProject", new { projectId = project.Id }, null)</span>
                    <span> &nbsp;</span>
                    <span class="btn btn-warning btn-xs">@Html.ActionLink("Delete", "DeleteProject", new { projectId = project.Id }, null)</span>

                </div>

                <ul>
                    <li>Description: @project.Description</li>
                    <li>
                        Budget: $@project.Budget - Remainder:
                        @if (@ProjectHelper.updateCost(project.Id) > 0)
                        {
                            <span class="btn btn-success btn-xs">$@ProjectHelper.updateCost(project.Id)</span>
                        }
                        else
                        {
                            <span class="btn btn-danger btn-xs">$@ProjectHelper.updateCost(project.Id)</span>
                        }
                    </li>
                    <li>Priority: @project.Priority</li>
                    @if (project.Status == Status.Completed)
                    {
                        <li>Status: @project.Status with total cost of $@(ProjectHelper.projectCostManager(project.Id) + ProjectHelper.projectCostDevelopers(project.Id))</li>
                    }
                    else
                    {
                        <li>Status: @project.Status</li>
                    }
                    <li>DateCreated: @project.DateCreated</li>
                    <li>Deadline: @project.Deadline</li>
                    @if (project.DateCompleted == null)
                    {
                        <li>Date Completed: Not Yet Completed</li>
                    }
                    else
                    {
                        <li>Date Completed: @project.DateCompleted</li>
                    }
                    <li>Created By: @project.User.UserName (Project Manager)</li>

                </ul>

                <div>
                    <span  class="btn btn-info btn-xs">@Html.ActionLink("Add Task", "AddTask", "DevTask", new { projectId = project.Id }, null)</span>
                    <span  class="btn btn-info btn-xs">@Html.ActionLink("Details", "GetTasks", "ProjectManager", new { projectId = project.Id }, null)</span>
                </div>
            </div>
        }
    </div>
}

<h4>Task</h4>
<ul>
    <li>@Html.ActionLink("Overdue Deadline That are Incomplete", "OrderByIncompleByDeadline")</li>
</ul>

<div>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Add Project", "AddProject")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Order By Percent", "OrderByPercent")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Order By Percent Excluding Complete", "OrderByPercentExcludingComplete")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Order By Priority", "OrderByPriority")</span>
    <span class="btn btn-info btn-xs">@Html.ActionLink("Projects over Budget", "OverBudget")</span>
</div>