@model List<TaskManagementSystem.Models.ProjectClasses.DevTask>

<h2 class="centerText">DEVELOPER DASHBOARD</h2>

<button class="btn btn-warning btn-default col-md-offset-10">
    @ViewBag.NotificationCount
    @Html.ActionLink("New Notifications", "DeveloperNotifications", "Developer", new { UserId = ViewBag.UserId }, null)
</button>

<br />

@if (Model.Count > 0)
{
    <h4 style="text-align: center">List Of Tasks</h4>

    foreach (var devTask in Model)
    {
        <ol>
            <li class="bg-warning">
                Project Title: @devTask.Project.Title
                <span class="col-md-offset-8"></span>
                @Html.ActionLink("Update", "UpdateDeveloperTask", new { devTaskId = devTask.Id }, null) &nbsp; &nbsp;
                @Html.ActionLink("Report Bug", "ReportABug", new { devTaskId = devTask.Id }, null)

            </li>
            <br />
            <ul>
                <li>Task Title: <span style="color: crimson">@devTask.Title</span></li>
                <li>Description: @devTask.Description</li>
                <li>Priority: @devTask.Priority</li>
                <li>Status: @devTask.Status</li>
                <li>DateCreated: @devTask.DateCreated</li>
                <li>Deadline: @devTask.Deadline</li>
                @if (devTask.DateCompleted == null)
                {
                    <li>Date Completed: Not Yet Completed</li>
                }
                else
                {
                    <li>Date Completed: @devTask.DateCompleted</li>
                }
                <li>Percent Completed: @devTask.PercentCompleted%</li>
                @if (devTask.Comment != null)
                {
                    <li>Comment: @devTask.Comment</li>
                }
            </ul>
            @if (devTask.PercentCompleted == 100)
            {
                @Html.ActionLink("Add Comment", "AddComment", new { devTaskId = devTask.Id }, null)
            }
            <br />
            <br />
        </ol>
    }
}